<div class="card">
    <div class="card-body">

        <form action="/editar" method="POST">
        <input type="hidden" name="id" value="{{posts.id}}">
        <div class="form-group">
            <label for="exampleInputEmail1">Título</label>
            <input type="text" class="form-control" placeholder="Seu email" name="titulo" value="{{posts.titulo}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Conteúdo</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="conteudo">{{posts.conteudo}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>
</div>